In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
cc_df = pd.read_csv('./data/fraud.csv')

In [4]:
pd.set_option('display.max_columns', 50)
# 최대 50개 컬럼 보여줘

In [5]:
cc_df.head()
# cc_num은 신용카드 번호
# amt는 amount

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,NJ,7208,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,NJ,7060,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,Daniel,Escobar,M,61390 Hayes Port,Romulus,MI,48174,42.2203,-83.3583,31515,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,LA,70808,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0

In [6]:
cc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   merchant               491134 non-null  object
 3   category               491134 non-null  object
 4   amt                    491134 non-null  float64
 5   first                  491134 non-null  object
 6   last                   491134 non-null  object
 7   gender                 491134 non-null  object
 8   street                 491134 non-null  object
 9   city                   491134 non-null  object
 10  state                  491134 non-null  object
 11  zip                    491134 non-null  int64
 12  lat                    491134 non-null  float64
 13  long                   491134 non-null  float64
 14  city_pop               491134 non-null  int64
 15  job                    491134 non-null  object
 16  dob                    491134 non-null  object
 17  trans_num              491134 non-null  object
 18  unix_time              491134 non-null  int64
 19  merch_lat              491134 non-null  float64
 20  merch_long             491134 non-null  float64
 21  is_fraud               491134 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 82.4+ MB

In [7]:
cc_df.describe()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,4.911340e+05,491134.000000,491134.000000,491134.000000,491134.000000,4.911340e+05,4.911340e+05,491134.000000,491134.000000,491134.000000
mean,3.706013e+17,69.050120,50770.532384,37.931230,-90.495619,1.213922e+05,1.358730e+09,37.930272,-90.495411,0.002533
std,1.260229e+18,160.322867,26854.947965,5.341193,12.990732,3.725751e+05,1.819402e+07,5.372986,13.004100,0.050264
min,5.038744e+11,1.000000,1843.000000,24.655700,-122.345600,4.600000e+01,1.325376e+09,23.655789,-123.345106,0.000000
25%,2.131124e+14,8.960000,28405.000000,33.746700,-97.235100,1.228000e+03,1.343087e+09,33.781388,-96.984814,0.000000
50%,3.531130e+15,42.170000,49628.000000,38.507200,-87.591700,5.760000e+03,1.357257e+09,38.545124,-87.573441,0.000000
75%,4.653879e+15,80.330000,75048.000000,41.520500,-80.731000,5.083500e+04,1.374626e+09,41.624294,-80.685567,0.000000
max,4.956829e+18,25086.940000,99323.000000,48.887800,-69.965600,2.906700e+06,1.388534e+09,49.887523,-68.965624,1.000000

In [8]:
# merchant 컬럼에 포함된 값이 몇 종류인지 확인합니다.

cc_df['merchant'].nunique()

693

In [9]:
# Q. job 컬럼에 포함된 값이 몇 종류인지 확인합니다.
cc_df['job'].nunique()

110

In [10]:
# 불필요한 컬럼들을 제거합니다.

cc_df.drop(['merchant','first','last','street','city','state','zip','job','trans_num','unix_time'], axis = 1, inplace= True)

In [11]:
# cc_num 컬럼의 값을 기준으로 정렬합니다.

cc_df.sort_values('cc_num')

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud
378075,2020-08-05 17:03:19,503874407318,shopping_pos,7.77,M,29.5894,-98.5201,1595797,1975-12-28,30.014539,-98.426767,0
230588,2019-12-20 22:21:36,503874407318,health_fitness,72.06,M,29.5894,-98.5201,1595797,1975-12-28,29.260487,-97.961746,0
421413,2020-10-10 12:39:32,503874407318,misc_pos,4.78,M,29.5894,-98.5201,1595797,1975-12-28,29.116928,-99.258936,0
468378,2020-12-13 15:55:44,503874407318,kids_pets,84.56,M,29.5894,-98.5201,1595797,1975-12-28,29.994537,-98.441297,0
345085,2020-06-22 23:52:06,503874407318,entertainment,24.33,M,29.5894,-98.5201,1595797,1975-12-28,29.277168,-98.239289,0
...,...,...,...,...,...,...,...,...,...,...,...,...
53631,2019-04-14 16:57:31,4956828990005111019,entertainment,27.41,M,40.6747,-74.2239,124967,1980-12-21,39.888460,-74.151440,0
485223,2020-12-27 14:14:40,4956828990005111019,home,28.52,M,40.6747,-74.2239,124967,1980-12-21,41.068207,-75.015316,0
264968,2020-02-15 13:32:48,4956828990005111019,shopping_pos,2.95,M,40.6747,-74.2239,124967,1980-12-21,41.435438,-73.839008,0
63475,2019-04-30 17:45:09,4956828990005111019,shopping_pos,7.28,M,40.6747,-74.2239,124967,1980-12-21,41.149072,-75.143152,0
450904,2020-11-28 12:12:27,4956828990005111019,food_dining,16.22,M,40.6747,-74.2239,124967,1980-12-21,39.933227,-73.659492,0

In [12]:
print("제거 후 shape:", cc_df.shape)
# 출력: (1296675, 13)

제거 후 shape: (491134, 12)

In [13]:
# Z-Score = "평균에서 얼마나 떨어져 있는지 (몇 표준편차 차이 나는지)" 를 나타내는 값

# Z-Score = (개별 거래금액 - 고객 평균 거래금액) / 고객 거래금액 표준편차

In [14]:
# cc_num 컬럼의 값마다 데이터 개수를 계산합니다.

cc_df['cc_num'].value_counts()

cc_num
6538441737335434    4392
30270432095985      4392
4364010865167176    4386
4642255475285942    4386
6538891242532018    4386
                    ...
36913587729122      3641
4681601008538160    3638
30551643947183      3638
4005676619255478    3638
3511378610369890    3628
Name: count, Length: 124, dtype: int64

In [15]:
# cc_num 컬럼의 값마다 amt의 평균, 표준편차를 계산하여 amt_info에 저장합니다.

amt_info = cc_df.groupby('cc_num')['amt'].agg(['mean','std']).reset_index()

In [16]:
amt_info.to_pickle('./amt_info.pkl')

In [17]:
cc_df = pd.merge(cc_df, amt_info, how='left', on='cc_num')

In [18]:
cc_df

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud,mean,std
0,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,F,48.8878,-118.2105,149,1978-06-21,49.159047,-118.186462,0,56.078113,159.201852
1,2019-01-01 00:12:34,4956828990005111019,grocery_pos,44.71,M,40.6747,-74.2239,124967,1980-12-21,40.079588,-74.848087,0,59.858059,132.138802
2,2019-01-01 00:17:16,180048185037117,grocery_net,46.28,F,40.6152,-74.4150,71485,1974-07-19,40.021888,-74.228188,0,87.328067,113.454416
3,2019-01-01 00:20:15,374930071163758,grocery_pos,64.09,M,42.2203,-83.3583,31515,1971-11-05,42.360426,-83.552316,0,64.317839,174.739042
4,2019-01-01 00:23:41,2712209726293386,misc_pos,25.58,F,30.4066,-91.1468,378909,1977-02-22,29.737426,-90.853194,0,90.747123,165.470881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,home,134.26,F,34.2651,-77.8670,186140,1983-02-08,34.853497,-78.664158,0,87.442772,129.935554
491130,2020-12-31 23:56:57,213112402583773,shopping_pos,25.49,F,34.0326,-82.2027,1523,1984-06-03,35.008839,-81.475156,0,58.181297,188.339282
491131,2020-12-31 23:59:09,3556613125071656,kids_pets,111.84,M,29.0393,-95.4401,28739,1999-12-27,29.661049,-96.186633,0,50.452289,168.361122
491132,2020-12-31 23:59:15,6011724471098086,kids_pets,86.88,F,46.1966,-118.9017,3684,1981-11-29,46.658340,-119.715054,0,88.704297,119.948793
491133,2020-12-31 23:59:34,4170689372027579,entertainment,38.13,M,35.6665,-97.4798,116001,1993-05-10,36.210097,-97.036372,0,61.737724,154.715895

In [19]:
# Q. 결제금액(amt)의 z-score를 계산하여 amt_z 컬럼에 저장합니다.
# 평균: mean, 표준편차: std

cc_df['amt_z'] = (cc_df['amt']-cc_df['mean'])/cc_df['std']

In [20]:
# 사기 거래 데이터(is_fraud=1)를 확인합니다.

cc_df[cc_df['is_fraud'] == 1]

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud,mean,std,amt_z
4794,2019-01-12 00:59:01,581686439828,gas_transport,11.73,M,41.5205,-80.0573,5507,1973-07-28,41.947427,-79.796264,1,58.578675,149.804992,-0.312731
4816,2019-01-12 03:48:07,581686439828,grocery_pos,328.68,M,41.5205,-80.0573,5507,1973-07-28,42.148618,-79.398595,1,58.578675,149.804992,1.803020
4979,2019-01-12 15:46:10,581686439828,food_dining,120.58,M,41.5205,-80.0573,5507,1973-07-28,42.470024,-80.126576,1,58.578675,149.804992,0.413880
5073,2019-01-12 19:53:59,581686439828,shopping_net,1081.35,M,41.5205,-80.0573,5507,1973-07-28,42.455406,-79.521640,1,58.578675,149.804992,6.827351
5124,2019-01-12 22:44:05,581686439828,shopping_net,776.70,M,41.5205,-80.0573,5507,1973-07-28,40.680209,-79.099101,1,58.578675,149.804992,4.793708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477832,2020-12-21 02:21:41,4716561796955522,grocery_pos,358.24,F,48.2777,-112.8456,743,1972-05-04,47.526202,-113.643313,1,52.537867,106.113023,2.880911
477847,2020-12-21 02:36:03,4716561796955522,shopping_net,859.12,F,48.2777,-112.8456,743,1972-05-04,48.272348,-112.328075,1,52.537867,106.113023,7.601161
479296,2020-12-21 22:38:38,4716561796955522,home,209.84,F,48.2777,-112.8456,743,1972-05-04,49.173669,-112.698767,1,52.537867,106.113023,1.482402
479305,2020-12-21 22:42:11,4716561796955522,food_dining,123.58,F,48.2777,-112.8456,743,1972-05-04,48.913048,-113.214921,1,52.537867,106.113023,0.669495
479341,2020-12-21 22:59:22,4716561796955522,home,219.11,F,48.2777,-112.8456,743,1972-05-04,47.911219,-113.691603,1,52.537867,106.113023,1.569761

In [21]:
# z-score 계산이 완료되었으니 mean, std 컬럼을 제거합니다.

cc_df.drop(['mean','std'], axis = 1, inplace = True)

In [22]:
# cc_num, category 컬럼의 값마다 결제금액(amt)의 평균, 표준편차를 계산하여 cat_info에 저장합니다.

cat_info = cc_df.groupby(['cc_num','category'])['amt'].agg(['mean','std']).reset_index()

🎈 피클은 "편의용" + "재사용"용
✅ 만약:

지금 노트북 끄고 나중에 다시 켠다 → cat_info 는 사라짐

다시 계산하면 시간이 걸림 (groupby 는 느릴 때도 많음)

→ 그래서 "아까 계산한 걸 파일로 저장 해놓고 나중에 빠르게 다시 쓰자!"
→ 그게 피클 저장 이유

In [23]:
cat_info.to_pickle('./cat_info.pkl')

In [24]:
# Q. cc_num 컬럼을 기준으로, cc_df와 cat_info 데이터를 합쳐서 cc_df에 저장합니다.
# (left merge를 수행합니다.)

# ** cc_df = pd.merge(cc_df, cat_info, how='left', on='cc_num') 로 하면 중복된 행이 엄청 많아진다. 그룹바이를 그 두개로 해줬으니까 머지도 두개로 머지 해줘야 함

cc_df = pd.merge(cc_df, cat_info, how='left', on=['cc_num', 'category'])

In [25]:
# Q. 결제금액(amt)의 z-score를 계산하여 cat_amt_z 컬럼에 저장합니다.
# 평균: mean, 표준편차: std

cc_df['cat_amt_z'] = (cc_df['amt']-cc_df['mean'])/cc_df['std']

In [26]:
# z-score 계산이 완료되었으니 mean, std 컬럼을 제거합니다.

cc_df.drop(['mean','std'], axis =1 , inplace = True)

In [27]:
cc_df.head()

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud,amt_z,cat_amt_z
0,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,F,48.8878,-118.2105,149,1978-06-21,49.159047,-118.186462,0,0.321302,0.317631
1,2019-01-01 00:12:34,4956828990005111019,grocery_pos,44.71,M,40.6747,-74.2239,124967,1980-12-21,40.079588,-74.848087,0,-0.114637,-0.652060
2,2019-01-01 00:17:16,180048185037117,grocery_net,46.28,F,40.6152,-74.4150,71485,1974-07-19,40.021888,-74.228188,0,-0.361802,-0.723328
3,2019-01-01 00:20:15,374930071163758,grocery_pos,64.09,M,42.2203,-83.3583,31515,1971-11-05,42.360426,-83.552316,0,-0.001304,0.211780
4,2019-01-01 00:23:41,2712209726293386,misc_pos,25.58,F,30.4066,-91.1468,378909,1977-02-22,29.737426,-90.853194,0,-0.393828,-0.575698

In [28]:
# 이상 거래 분석
print("Z-Score 분포:")
print(cc_df['amt_z'].describe())

Z-Score 분포:
count    4.911340e+05
mean     1.793956e-18
std      9.998748e-01
min     -9.227851e-01
25%     -3.609422e-01
50%     -1.774582e-01
75%      9.572879e-02
max      6.342123e+01
Name: amt_z, dtype: float64

In [29]:
# 이상 거래 분석
print("Z-Score 분포:")
print(cc_df['cat_amt_z'].describe())

Z-Score 분포:
count    4.911340e+05
mean     5.960565e-18
std      9.982321e-01
min     -4.264316e+00
25%     -5.394402e-01
50%     -2.285154e-01
75%      2.758066e-01
max      1.890049e+01
Name: cat_amt_z, dtype: float64

결제 시간 관련 feature 분석

In [30]:
cc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   category               491134 non-null  object
 3   amt                    491134 non-null  float64
 4   gender                 491134 non-null  object
 5   lat                    491134 non-null  float64
 6   long                   491134 non-null  float64
 7   city_pop               491134 non-null  int64
 8   dob                    491134 non-null  object
 9   merch_lat              491134 non-null  float64
 10  merch_long             491134 non-null  float64
 11  is_fraud               491134 non-null  int64
 12  amt_z                  491134 non-null  float64
 13  cat_amt_z              491134 non-null  float64
dtypes: float64(7), int64(3), object(4)
memory usage: 52.5+ MB

In [31]:
# Q. trans_date_trans_time 컬럼에서 시간 값을 추출하여 hour 컬럼에 저장합니다.
# (힌트: datetime 자료형을 이용합니다.)

# 1단계: datetime 형식으로 변환
cc_df['trans_date_trans_time'] = pd.to_datetime(cc_df['trans_date_trans_time'])

# 2단계: hour 추출
cc_df['hour'] = cc_df['trans_date_trans_time'].dt.hour

In [32]:
cc_df.head()

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud,amt_z,cat_amt_z,hour
0,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,F,48.8878,-118.2105,149,1978-06-21,49.159047,-118.186462,0,0.321302,0.317631,0
1,2019-01-01 00:12:34,4956828990005111019,grocery_pos,44.71,M,40.6747,-74.2239,124967,1980-12-21,40.079588,-74.848087,0,-0.114637,-0.652060,0
2,2019-01-01 00:17:16,180048185037117,grocery_net,46.28,F,40.6152,-74.4150,71485,1974-07-19,40.021888,-74.228188,0,-0.361802,-0.723328,0
3,2019-01-01 00:20:15,374930071163758,grocery_pos,64.09,M,42.2203,-83.3583,31515,1971-11-05,42.360426,-83.552316,0,-0.001304,0.211780,0
4,2019-01-01 00:23:41,2712209726293386,misc_pos,25.58,F,30.4066,-91.1468,378909,1977-02-22,29.737426,-90.853194,0,-0.393828,-0.575698,0

In [33]:
# 결제시간을 morning, afternoon, night, evening으로 분류하기 위해 함수를 정의합니다.

def hour_func(x):
    if (x >= 6) & (x < 12):
        return 'morning'
    elif (x >= 12) & (x < 18):
        return 'afternoon'
    elif (x >= 18) & (x < 23):
        return 'night'
    else:
        return 'evening'

| 코드                                                       | 설명                     |
| -------------------------------------------------------- | ---------------------- |
| cc\_df\['hour\_cat'] = hour\_func(cc\_df\['hour'])       | ❌ Series 전체 넣음 (오류 가능) |
| cc\_df\['hour\_cat'] = cc\_df\['hour'].apply(hour\_func) | ✅ 각 값마다 함수 적용 (정상!)    |

In [34]:
# Q. hour 컬럼에 hour_func 함수를 적용한 값을 hour_cat 컬럼에 저장합니다.

#cc_df['hour_cat'] = hour_func(cc_df['hour'])
cc_df['hour_cat'] = cc_df['hour'].apply(hour_func)

In [35]:
# Q. 시간대별로 데이터 수를 계산하여 출력합니다.

cc_df['hour_cat'].value_counts()

hour_cat
afternoon    176801
night        146697
evening       98662
morning       68974
Name: count, dtype: int64

In [36]:
# cc_num 컬럼의 값마다 amt 컬럼의 데이터 수를 계산하여 all_cnt 변수로 저장합니다.

all_cnt = cc_df.groupby('cc_num')['amt'].count().reset_index()

In [37]:
# cc_num, hour_cat 컬럼의 값마다 amt 컬럼의 데이터 수를 계산하여 hour_cnt 변수로 저장합니다.

hour_cnt = cc_df.groupby(['cc_num','hour_cat'])['amt'].count().reset_index()

In [38]:
all_cnt.head()

         cc_num   amt
0  503874407318  3655
1  567868110212  3644
2  571365235126  4374
3  581686439828  3653
4  630423337322  4362

In [39]:
hour_cnt.head()

         cc_num   hour_cat   amt
0  503874407318  afternoon  1280
1  503874407318    evening   737
2  503874407318    morning   558
3  503874407318      night  1080
4  567868110212  afternoon  1228

In [40]:
# Q. cc_num 컬럼을 기준으로 hour_cnt와 all_cnt를 합칩니다.
# (hour_cnt에서 left merge를 수행합니다.)

hour_cnt = pd.merge(hour_cnt, all_cnt, how='left', on='cc_num')

In [41]:
hour_cnt.head()

         cc_num   hour_cat  amt_x  amt_y
0  503874407318  afternoon   1280   3655
1  503874407318    evening    737   3655
2  503874407318    morning    558   3655
3  503874407318      night   1080   3655
4  567868110212  afternoon   1228   3644

In [42]:
# Q. amt_x와 amt_y 컬럼의 이름을 각각 hour_cnt, total_cnt로 변경합니다.
hour_cnt = hour_cnt.rename(columns={'amt_x': 'hour_cnt', 'amt_y': 'total_cnt'})

In [43]:
hour_cnt.head()

         cc_num   hour_cat  hour_cnt  total_cnt
0  503874407318  afternoon      1280       3655
1  503874407318    evening       737       3655
2  503874407318    morning       558       3655
3  503874407318      night      1080       3655
4  567868110212  afternoon      1228       3644

In [44]:
# Q. 전체 거래 건수(total_cnt)에 대한 시간대별 거래 건수(hour_cnt)의 비율을 계산하여 
# hour_perc 컬럼에 저장합니다.

hour_cnt['hour_perc'] = hour_cnt['hour_cnt']/hour_cnt['total_cnt']

In [45]:
hour_cnt.head(10)

         cc_num   hour_cat  hour_cnt  total_cnt  hour_perc
0  503874407318  afternoon      1280       3655   0.350205
1  503874407318    evening       737       3655   0.201642
2  503874407318    morning       558       3655   0.152668
3  503874407318      night      1080       3655   0.295486
4  567868110212  afternoon      1228       3644   0.336992
5  567868110212    evening       820       3644   0.225027
6  567868110212    morning       529       3644   0.145170
7  567868110212      night      1067       3644   0.292810
8  571365235126  afternoon      1523       4374   0.348194
9  571365235126    evening       943       4374   0.215592

In [46]:
hour_cnt.tail(10)

                  cc_num   hour_cat  hour_cnt  total_cnt  hour_perc
486  4861310130652566408    morning       529       3643   0.145210
487  4861310130652566408      night      1033       3643   0.283558
488  4906628655840914250  afternoon      1282       3655   0.350752
489  4906628655840914250    evening       800       3655   0.218878
490  4906628655840914250    morning       500       3655   0.136799
491  4906628655840914250      night      1073       3655   0.293570
492  4956828990005111019  afternoon      1277       3657   0.349193
493  4956828990005111019    evening       784       3657   0.214383
494  4956828990005111019    morning       558       3657   0.152584
495  4956828990005111019      night      1038       3657   0.283839

In [47]:
hour_cnt.to_pickle('./hour_cnt.pkl')

In [48]:
hour_cnt = hour_cnt[['cc_num','hour_cat','hour_perc']]

In [49]:
hour_cnt.to_pickle('./hour_cnt.pkl')

In [50]:
# Q. cc_num, hour_cat 컬럼을 기준으로 cc_df와 hour_cnt 데이터를 합칩니다.
# (cc_df에서 left merge를 수행합니다.)

cc_df = pd.merge(cc_df, hour_cnt, how= 'left', on=['cc_num', 'hour_cat'])

In [51]:
cc_df.head()

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud,amt_z,cat_amt_z,hour,hour_cat,hour_perc
0,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,F,48.8878,-118.2105,149,1978-06-21,49.159047,-118.186462,0,0.321302,0.317631,0,evening,0.196470
1,2019-01-01 00:12:34,4956828990005111019,grocery_pos,44.71,M,40.6747,-74.2239,124967,1980-12-21,40.079588,-74.848087,0,-0.114637,-0.652060,0,evening,0.214383
2,2019-01-01 00:17:16,180048185037117,grocery_net,46.28,F,40.6152,-74.4150,71485,1974-07-19,40.021888,-74.228188,0,-0.361802,-0.723328,0,evening,0.217252
3,2019-01-01 00:20:15,374930071163758,grocery_pos,64.09,M,42.2203,-83.3583,31515,1971-11-05,42.360426,-83.552316,0,-0.001304,0.211780,0,evening,0.213600
4,2019-01-01 00:23:41,2712209726293386,misc_pos,25.58,F,30.4066,-91.1468,378909,1977-02-22,29.737426,-90.853194,0,-0.393828,-0.575698,0,evening,0.202882

In [52]:
# 시간 관련 feature 분석이 완료되었으므로 불필요해진 컬럼들을 제거합니다.

cc_df.drop(['trans_date_trans_time', 'hour', 'hour_cat'], axis =1 , inplace = True)

거리 관련 feature 분석

In [53]:
# 거리 계산에 필요한 geopy 라이브러리를 설치합니다.

!pip install geopy

Requirement already satisfied: geopy in c:\users\j\anaconda3\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\j\anaconda3\lib\site-packages (from geopy) (2.0)

In [54]:
from geopy.distance import distance

In [55]:
# 이렇게 위도와 경도 값으로 두 지점 사이의 거리를 구할 수 있습니다.

distance((48.8878, -118.2105), (49.159047, -118.186462)).km

30.216618410409005

In [56]:
# 고객의 위치와 상점의 위치 사이의 거리를 계산하여 distance 컬럼에 저장합니다.
# (모든 데이터가 계산되므로 실행 시간이 오래 걸릴 수 있습니다.)

cc_df['distance'] = cc_df.apply(lambda x: distance((x['lat'], x['long']), (x['merch_lat'], x['merch_long'])).km, axis = 1)

In [57]:
from datetime import datetime

In [58]:
# 데이터 10000개만 계산해도 시간이 이렇게 걸립니다.

start_time =  datetime.now()
cc_df.head(10000).apply(lambda x: distance((x['lat'], x['long']), (x['merch_lat'], x['merch_long'])).km, axis = 1)
datetime.now() - start_time

datetime.timedelta(seconds=1, microseconds=249382)

In [59]:
cc_df.head()

,cc_num,category,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud,amt_z,cat_amt_z,hour_perc,distance
0,630423337322,grocery_pos,107.23,F,48.8878,-118.2105,149,1978-06-21,49.159047,-118.186462,0,0.321302,0.317631,0.196470,30.216618
1,4956828990005111019,grocery_pos,44.71,M,40.6747,-74.2239,124967,1980-12-21,40.079588,-74.848087,0,-0.114637,-0.652060,0.214383,84.714605
2,180048185037117,grocery_net,46.28,F,40.6152,-74.4150,71485,1974-07-19,40.021888,-74.228188,0,-0.361802,-0.723328,0.217252,67.768167
3,374930071163758,grocery_pos,64.09,M,42.2203,-83.3583,31515,1971-11-05,42.360426,-83.552316,0,-0.001304,0.211780,0.213600,22.322745
4,2712209726293386,misc_pos,25.58,F,30.4066,-91.1468,378909,1977-02-22,29.737426,-90.853194,0,-0.393828,-0.575698,0.202882,79.398244

In [60]:
# Q. cc_num 컬럼의 값마다 distance의 평균, 표준편차를 계산하여 dist_info 변수에 저장합니다.

dist_info = cc_df.groupby('cc_num')['distance'].agg(['mean', 'std']).reset_index()

In [61]:
dist_info.to_pickle('./dist_info.pkl')

In [62]:
# Q. cc_num 컬럼을 기준으로 cc_df와 dist_info 데이터를 합칩니다.
# (cc_df에서 left merge를 수행합니다.)

#주의사항 : 결과값에 대해서 shape문을 출력했을때 row가 200만개 이상으로 잡힌다면 잘못 merge되었습니다! 이 경우 LMS 초기화를 진행하고 코드를 수정하고 첫 코드블럭부터 실행해주세요!

cc_df = pd.merge(cc_df,dist_info, how='left', on='cc_num')

In [63]:
cc_df.shape

(491134, 17)

In [64]:
# Q. distance 값의 z-score를 계산하여 dist_z 컬럼에 저장합니다.
cc_df['dist_z'] = (cc_df['distance']-cc_df['mean'])/cc_df['std']

In [65]:
cc_df.head()

,cc_num,category,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud,amt_z,cat_amt_z,hour_perc,distance,mean,std,dist_z
0,630423337322,grocery_pos,107.23,F,48.8878,-118.2105,149,1978-06-21,49.159047,-118.186462,0,0.321302,0.317631,0.196470,30.216618,71.656621,28.090646,-1.475224
1,4956828990005111019,grocery_pos,44.71,M,40.6747,-74.2239,124967,1980-12-21,40.079588,-74.848087,0,-0.114637,-0.652060,0.214383,84.714605,74.811123,28.675031,0.345370
2,180048185037117,grocery_net,46.28,F,40.6152,-74.4150,71485,1974-07-19,40.021888,-74.228188,0,-0.361802,-0.723328,0.217252,67.768167,75.617531,28.784606,-0.272693
3,374930071163758,grocery_pos,64.09,M,42.2203,-83.3583,31515,1971-11-05,42.360426,-83.552316,0,-0.001304,0.211780,0.213600,22.322745,74.706461,28.711493,-1.824486
4,2712209726293386,misc_pos,25.58,F,30.4066,-91.1468,378909,1977-02-22,29.737426,-90.853194,0,-0.393828,-0.575698,0.202882,79.398244,79.334924,29.620117,0.002138

In [66]:
# 불필요해진 컬럼들을 제거합니다.

cc_df.drop(['lat','long','merch_lat','merch_long','mean','std'], axis = 1, inplace = True)

In [67]:
# Q. dob 컬럼에서 연도 값만 추출하여 dob 컬럼에 저장합니다.

cc_df['dob'] = pd.to_datetime(cc_df['dob'])
cc_df['dob'] = cc_df['dob'].dt.year

In [68]:
cc_df['dob']

0         1978
1         1980
2         1974
3         1971
4         1977
          ...
491129    1983
491130    1984
491131    1999
491132    1981
491133    1993
Name: dob, Length: 491134, dtype: int32

In [69]:
# 범주형 컬럼 'category'에 몇 종류의 값이 있는지 확인해봅시다.

cc_df['category'].nunique()

14

In [70]:
# Q. cc_df의 범주형 데이터에 원-핫 인코딩을 적용합니다.
# (drop_first 옵션은 True로 설정합니다.)

cc_df = pd.get_dummies(cc_df, drop_first=True)

In [71]:
cc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 24 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   cc_num                   491134 non-null  int64
 1   amt                      491134 non-null  float64
 2   city_pop                 491134 non-null  int64
 3   dob                      491134 non-null  int32
 4   is_fraud                 491134 non-null  int64
 5   amt_z                    491134 non-null  float64
 6   cat_amt_z                491134 non-null  float64
 7   hour_perc                491134 non-null  float64
 8   distance                 491134 non-null  float64
 9   dist_z                   491134 non-null  float64
 10  category_food_dining     491134 non-null  bool
 11  category_gas_transport   491134 non-null  bool
 12  category_grocery_net     491134 non-null  bool
 13  category_grocery_pos     491134 non-null  bool
 14  category_health_fitness  491134 non-null  bool
 15  category_home            491134 non-null  bool
 16  category_kids_pets       491134 non-null  bool
 17  category_misc_net        491134 non-null  bool
 18  category_misc_pos        491134 non-null  bool
 19  category_personal_care   491134 non-null  bool
 20  category_shopping_net    491134 non-null  bool
 21  category_shopping_pos    491134 non-null  bool
 22  category_travel          491134 non-null  bool
 23  gender_M                 491134 non-null  bool
dtypes: bool(14), float64(6), int32(1), int64(3)
memory usage: 42.2 MB

In [72]:
cc_df.head()

,cc_num,amt,city_pop,dob,is_fraud,amt_z,cat_amt_z,hour_perc,distance,dist_z,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,gender_M
0,630423337322,107.23,149,1978,0,0.321302,0.317631,0.196470,30.216618,-1.475224,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,4956828990005111019,44.71,124967,1980,0,-0.114637,-0.652060,0.214383,84.714605,0.345370,False,False,False,True,False,False,False,False,False,False,False,False,False,True
2,180048185037117,46.28,71485,1974,0,-0.361802,-0.723328,0.217252,67.768167,-0.272693,False,False,True,False,False,False,False,False,False,False,False,False,False,False
3,374930071163758,64.09,31515,1971,0,-0.001304,0.211780,0.213600,22.322745,-1.824486,False,False,False,True,False,False,False,False,False,False,False,False,False,True
4,2712209726293386,25.58,378909,1977,0,-0.393828,-0.575698,0.202882,79.398244,0.002138,False,False,False,False,False,False,False,False,True,False,False,False,False,False

📚 왜 제거하나?

1️⃣ 원-핫 인코딩 후: 이미 cc_num 기준으로 파생 feature (ex: 거리 평균/표준편차 등) 만들었음
→ cc_num 자체는 더 이상 쓸 의미 없음

2️⃣ 식별자 변수는 모델이 학습하면 overfitting 가능성
→ "카드번호만 외워서" 결과 예측하게 됨 → 일반화 성능 나빠짐

3️⃣ 데이터 보호/보안 이유
→ 카드번호는 개인정보라 → 학습할 때는 빼는 게 좋음

In [73]:
# 이제 불필요해진 cc_num 컬럼을 제거합니다.

cc_df.drop('cc_num', axis = 1, inplace = True)

사기 탐지 성능 향상 지표

In [74]:
# Feature 중요도 분석 (Random Forest 기준)
from sklearn.ensemble import RandomForestClassifier

X = cc_df.drop('is_fraud', axis=1)
y = cc_df['is_fraud']

rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X, y)

# Feature 중요도 출력
feature_importance = pd.DataFrame({
    'feature': X.columns,
    'importance': rf.feature_importances_
}).sort_values('importance', ascending=False)

print("상위 10개 중요 Feature:")
print(feature_importance.head(10))

상위 10개 중요 Feature:
                 feature  importance
4              cat_amt_z    0.236683
0                    amt    0.191920
3                  amt_z    0.128437
5              hour_perc    0.114574
7                 dist_z    0.067923
6               distance    0.067036
1               city_pop    0.047082
2                    dob    0.046442
11  category_grocery_pos    0.038716
21              gender_M    0.011401

실무용 통합 함수

In [77]:
def fraud_feature_engineering(df):
    """
    신용거래 이상탐지를 위한 통합 Feature Engineering 함수
    """
    # 1. 불필요한 컬럼 제거
    drop_cols = ['merchant', 'first', 'last', 'street', 'city', 'state',
                 'zip', 'job', 'trans_num', 'unix_time']
    df = df.drop(drop_cols, axis=1)

    # 2. 구매금액 Z-Score
    amt_stats = df.groupby('cc_num')['amt'].agg(['mean', 'std']).reset_index()
    df = df.merge(amt_stats, on='cc_num', how='left')
    df['amt_z'] = (df['amt'] - df['mean']) / df['std']
    df = df.drop(['mean', 'std'], axis=1)

    # 3. 시간 Feature
    df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])
    df['hour'] = df['trans_date_trans_time'].dt.hour
    df['hour_cat'] = df['hour'].apply(categorize_hour)

    # 4. 나이 계산
    df['dob'] = pd.to_datetime(df['dob'])
    df['age'] = 2020 - df['dob'].dt.year

    # 5. One-Hot Encoding
    df = pd.get_dummies(df, columns=['category', 'gender'], drop_first=True)

    # 6. 최종 정리
    df = df.drop(['cc_num', 'trans_date_trans_time', 'hour', 'hour_cat', 'dob'], axis=1)

    return df

def categorize_hour(hour):
    """시간대 분류 함수"""
    if 6 <= hour < 12:
        return 'morning'
    elif 12 <= hour < 18:
        return 'afternoon'
    elif 18 <= hour < 23:
        return 'night'
    else:
        return 'evening'

# 사용 예시
df = pd.read_csv('./data/fraud.csv')
processed_df = fraud_feature_engineering(df.copy())
print(f"최종 데이터 shape: {processed_df.shape}")
print(f"최종 컬럼들: {processed_df.columns.tolist()}")

최종 데이터 shape: (491134, 23)
최종 컬럼들: ['amt', 'lat', 'long', 'city_pop', 'merch_lat', 'merch_long', 'is_fraud', 'amt_z', 'age', 'category_food_dining', 'category_gas_transport', 'category_grocery_net', 'category_grocery_pos', 'category_health_fitness', 'category_home', 'category_kids_pets', 'category_misc_net', 'category_misc_pos', 'category_personal_care', 'category_shopping_net', 'category_shopping_pos', 'category_travel', 'gender_M']